// Colors
$BackgroundColor: #f7f8fa;
$ColorWhite: White;
$ColorLBottom: #6b7a99;
$ColorBottom: #ff6633;

// Color Content
// Color About
$ColorAboutButton: #29cc39;
$ColorAboutOurStoryBackground: #002881;
$ColorAboutText: #4d5e80;
$ColorAboutText2: #7d8fb3;
$ColorAboutCards: #adb8cc;

// Typografy

$FontFamily: 'Roboto';

// BreakPoints

$breakpoints: (
  'small': 640px,
) !default;
