@use "../../../variables" as v
    
.NavBarContainer 
    color: v.$ColorWhite
    display: flex
    align-items: center

.Constructor
    display: flex
    align-items: center

.Search 
    opacity: 0.6
    display: flex
    align-items: center