@use "../../../variables" as v
    
.NavBarContainer 
    color: v.$ColorWhite
    display: flex
    align-items: center
    justify-content: space-around
    padding: 3.9vw

.Constructor
    display: flex
    align-items: center
    
    span 
        margin-left: 1vw
        font-weight: 700
        font-size: 20px

.Search 
    opacity: 0.6
    display: flex
    align-items: center

    span 
        margin-left: 0.5vw

.Button
    border: none
    background: none
    color: v.$ColorWhite
    font-weight: 700

.NavButtons
    display: flex

    button 
        margin: 0vw 1vw 0vw 1vw
        
