@use '../../../variables' as v;
@use '../../../mixing.scss' as m;
@use 'sass:map';

$small: map.get(v.$breakpoints, 'small');

$assetPath: '../../assets/';

.HeaderContainer {
  height: 100vh;
}

.BackgroundImage {
  background-image: url(#{$assetPath}rezised.png);
  background-size: cover;
  background-position: center;
  height: 100vh;

  @include m.break($small) {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 98vh;
  }
}

.CenterInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: v.$ColorWhite;
  margin: 35vw 0vw;

  @include m.break($small) {
    margin: 5vw 0vw;
  }

  .RealEstateButton {
    display: none;

    @include m.break($small) {
      display: flex;
    }
  }
}

.RealEstateButton {
  background-color: v.$ColorBottom;
  padding: 0.5vw;
  box-shadow: 0px 60px 120px rgba(255, 102, 51, 0.3);
  border-radius: 15px;
  font-weight: 900;
  font-family: v.$FontFamily;
}

.WelcomeTitle {
  font-size: 10vw;
  text-align: center;

  @include m.break($small) {
    font-size: 4.5vw;
    margin: 5vw;
  }
}

.Info {
  display: flex;
  margin: 5vw;
}

.Direction,
.PhoneNumber,
.Email {
  display: none;

  @include m.break($small) {
    display: flex;
    align-items: center;

    span {
      margin: 0vw 5vw 0vw 2vw;
    }
  }
}
